.jumbotron {
    background: url("cow_images.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
    text-align: center;
    color: rgb(10, 10, 10);
}


body { 

    color: #f7f7f7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif'
}

a+a {
  margin-left: 5px;
    
}

nav a {
  display: inline-block;
  padding: 5px;
}